body {
  margin: 0px;
  background-color: #f3f5fc;
  font-family: "Roboto", sans-serif;
  display: grid;
  gap: 60px;
  justify-items: center;
  margin-top: 60px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
}

p {
  margin: 0px;
}

#logo {
  position: absolute;
  top: 40px;
  left: 40px;
}

#texto {
  width: 90%;
  height: 90%;
  font-size: 32px;
  line-height: 150%;
  border: none;
  background-color: transparent;
  box-shadow: none;
  resize: none;
  outline: 0;
  color: #0a3871;
}

#info {
  display: flex;
  padding: 0px;
  margin-left: 16px;
  margin-bottom: 32px;
  gap: 8px;
  width: 352px;
  height: 18px;
}

#button {
  grid-column: 1;
  display: flex;
  padding: 0px;
  margin-right: 32px;
  gap: 24px;
}

#criptografa {
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  gap: 8px;
  width: 328px;
  height: 67px;
  background: #0a3871;
  border-radius: 24px;
  color: #ffffff;
  font-size: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#criptografa:hover {
  background: #315075;
}

#descriptografa {
  box-sizing: border-box;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  gap: 8px;
  width: 328px;
  height: 67px;
  font-size: 16px;
  background: #d8dfe8;
  color: #0a3871;
  border: 1px solid #0a3871;
  border-radius: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

#descriptografa:hover {
  background: #abafb6;
}

#digitetexto {
  grid-column: 2;
  width: auto;
  height: auto;
  padding: 100px;
  background: #ffffff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
}

#digitetexto img {
  margin: auto;
  display: block;
  max-width: 100%;
  height: auto;
  width: auto;
}

#digitetexto h2 {
  text-align: center;
}

#digitetexto p {
  text-align: center;
  font-size: 16px;
  margin: 10%;
}

#resultado {
  text-align: center;
  position: relative;
  gap: 20px;
  align-content: center;
  justify-items: end;
  display: none;
  width: 400;
  height: 650px;
  background: #fff;
  border-radius: 32px;
}

#resultado textarea {
  display: inline-block;
  height: 70%;
  width: 70%;
  margin-top: 10%;
  margin-bottom: 10%;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  border: none;
  box-shadow: none;
  resize: none;
  outline: 0;
  color: #495057;
}

#resultado button {
  align-items: center;
  background: #ffffff;
  width: 250px;
  height: 67px;
  font-size: 16px;
  color: #0a3871;
  margin-left: 450;
  border: 1px solid #0a3871;
  border-radius: 24px;
}

#resultado button:hover {
  background: #e0dbdb;
}

footer {
  background: #d8dfe8;
  color: #0a3871;
  width: 100%;
  font-size: 24px;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
  margin-bottom: 0px;
}

a {
  text-decoration: none;
  color: #0a3871;
}

@media (max-width: 900px) {
  main {
    grid-template-columns: 1fr;
    gap: 60px;
  }

  .conteudo {
    display: flexbox;
    position: unset;
    margin-left: 80px;
  }

  #button {
    flex-wrap: wrap;
  }
}
